/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
}

.story-user {
  display: block;
}

.unfilledStar {
  font-size: 150%;
}

.filledStar {
  font-size: 150%;
  color: orangered
}

#addStoryButton {
  margin-left: 0px;
  height: 50%;
  width: 15%;
  color: black;
  font-weight: bold;
  background-color: orangered;
}

/* figure out hover effect */
